/* Універсальне box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

:root {
  --textcolor: #434455;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --green: #31d0aa;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

/* Скидання margin/padding для базових елементів */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Скидання списків */
ul {
  list-style: none;
}

/* Зображення не виходять за межі */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Покращення читабельності */
body {
  font-family: var(--font-family);
  color: var(--textcolor);
  background-color: var(--white);
}

/* Посилання без підкреслення за замовчуванням */
a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid var(--cornflower);
  position: sticky;
  top: -1px;
  z-index: 100;
  background-color: var(--white);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}
.menu-list,
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  text-decoration: none;
  display: inline-block;
}

header .logo {
  margin-right: 76px;
}
.logo-text-main {
  color: var(--navy-blue);
}

.logo-text-footer {
  color: var(--cloud);
}

.menu-item {
  display: flex;
  flex-direction: column;
}

.menu-link {
  text-decoration: none;
  color: var(--textcolor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:first-child .menu-link {
  color: var(--ocean);
}

.menu-item .menu-link::after {
  content: "";
  border-radius: 2px;
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-item:first-child .menu-link::after {
  background-color: var(--ocean);
}

.menu-item:nth-child(2) .menu-link::after,
.menu-item:nth-child(3) .menu-link::after {
  background-color: inherit;
}

.menu-item:nth-child(2) .menu-link:hover,
.menu-item:nth-child(3) .menu-link:hover,
.menu-item:nth-child(2) .menu-link:after,
.menu-item:nth-child(3) .menu-link:after {
  color: var(--ocean);
}

.menu-item:nth-child(2) .menu-link:hover::after,
.menu-item:nth-child(3) .menu-link:hover::after {
  background-color: var(--ocean);
}

.contacts {
  font-style: normal;
}

.contacts-link {
  text-decoration: none;
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

.main-page {
  background-color: var(--navy-blue);
  padding: 188px 0;
  margin: 0 auto;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/main/people-office-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-page-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn-primary {
  cursor: pointer;
  display: block;
  align-items: flex-start;

  border-radius: 4px;
  padding: 8px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--ocean);
}

.advantage-page {
  padding: 120px 0;
}

.advantage-list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.advantage-item-icon {
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  background: var(--cloud);
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantage-item {
  width: calc((100% - 72px) / 4);
}

.advantage-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.advantage-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.team-page {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
  text-align: center;
}

.team-list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.team-member {
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

.team-member-content {
  padding: 32px 0;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 8px;
}

.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-align: center;
  margin-bottom: 8px;
}

.socials-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-background {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: var(--cloud);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean); /*#bfe2da;*/
}

.portfolio-page {
  background-color: var(--white);
  padding: 120px 0;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-row {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-img {
  position: relative;
  margin: 0 auto;
  height: 300px;
  background-size: cover;
  overflow: hidden;
}

.overlay-text {
  box-shadow: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay-text,
.portfolio-item:focus .overlay-text {
  transform: translateY(0%);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-content {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.portfolio-item-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  max-width: 264px;
  margin-right: 120px;
}

.footer .logo {
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  width: 264px;
}

.footer-social {
  max-width: 208px;
}

.footer .socials-list {
  gap: 16px;
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--green);
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.footer-subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
}

.footer-subscribe-input {
  border: 1px solid var(--white);
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;

  font-weight: 400;
  font-size: 12px;

  /* line-height: 24px; */
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
}

.footer-subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);

  cursor: pointer;
}

.footer-subscribe-button:hover {
  background-color: var(--ocean);
}

.send-icon {
  fill: var(--white);
  margin-left: 16px;
}

.modal-overlay {
  background-color: var(--navy-blue-modal);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /*676px;*/
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: var(--dairy);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding: 0;
}

.close-button:hover,
.close-button:focus {
  background-color: var(--ocean);
  border: none;
}
.close-icon {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: var(--white);
}

.form-title {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.modal-form {
  width: 100%;
}

.form-field {
  margin-bottom: 8px;
}

.form-label {
  font-weight: 400;
  font-size: 12px;

  /* line-height: 14px; */
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);

  display: block;
  margin-bottom: 4px;
}

.input-field {
  position: relative;
}
.form-field-textarea {
  margin-bottom: 16px;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--light-slate);
}

.form-input:focus + .form-icon,
.form-input:focus {
  fill: var(--iris);
  border-color: var(--iris);
}

.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border-color: var(--iris);
}

.checkbox-field {
  margin-bottom: 24px;
}

.form-label-checkbox {
  font-size: 12px;

  /* line-height: 14px; */
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.form-icon-checkbox {
  fill: inherit;
  pointer-events: none;
}

.checkbox-text {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  background-color: transparent;
}

.checkbox-link {
  color: var(--iris);
}

input[type="checkbox"]:checked + .form-label-checkbox .checkbox-text {
  background-color: var(--ocean); /* #404bbf */
  border: none; /* видаляємо рамку */
  fill: var(--cloud); /* #f4f4fd */
}

.form-button {
  display: block;
  border: none;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;

  background-color: var(--iris);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
